{% extends 'survey/base.html' %}
{% load i18n %}
{% load survey_extras %}
{% load static %}

{% block title %} {{survey.name}} {% endblock title %}

{% block extrajs %}
  {{response_form.media}}
  {% if asset_context.flatpickr %}
    <script type="text/javascript" src="{% static 'survey/js/flatpickr.min.js' %}"></script>
  {% endif %}
  <script src="{% static 'survey/js/conditional.js' %}" defer></script>
{% endblock %}

{% block extracss %}
  {% if asset_context.flatpickr %}
    {{ block.super }}
    <link href="{% static 'survey/css/flatpickr.min.css'%}" rel="stylesheet" type="text/css"/>
  {% endif %}
{% endblock %}



{% block body %}
	<div class="survey-container survey-{{survey.pk}}">
	<h1> {{survey.name}} </h1>
	<div class="survey-description"> {{survey.description|safe}} </div>
	<div>
      {% if step and step != 0 %}
		<form action="{% url 'survey-detail-step' id=survey.id step=step %}" method="post">
	{% else %}
		<form action="{% url 'survey-detail' id=survey.id %}" method="post">
	{% endif %}
	    {% csrf_token %}
        <div class="survey-questions-container">
        {% for category in categories %}
            <div class="survey-category {% if category.pk %}category-{{category.pk}}{% else %}survey-no-category{% endif %}">
            <h3 class="survey-category-title"> {{category}} </h3>
            <p class="survey-category-description"> {{category.description|default_if_none:""}} </p>
            <div class="survey-category-questions">
                {% include "survey/question.html" %}
            </div>
            </div>
        {% empty %}
            <div class="survey-category survey-no-category">
            <h3 class="survey-category-title"> {% trans "Questions" %} </h3>
            <div class="survey-category-questions">
            {% include "survey/question.html" %}
            </div>
            </div>
        {% endfor %}
        </div>

        <br>
		{% if survey.editable_answers or response_form.response is None %}
	    {% if response_form.has_next_step %}
				    <input
  			          class="btn btn-default btn-lg"
				        type="submit"
				        value="{% trans "Next!" %}"
        			>
				{% else %}
				    <input
  			          class="btn btn-default btn-lg"
				        type="submit"
				        value="{% trans "I'm done!" %}"
        			>
				{% endif %}
		{% endif %}
	</form></div>
	</div>
{% endblock %}
